/* Fonts */
@font-face {
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-family: "Montserrat";
}

/* Colors */
/* Breakpoints (Media) */
/* Mixin */
body {
  background: #14191f;
  font-size: 16px;
  font-family: "Montserrat";
  margin: 0 auto;
}

/* Header */
header {
  background-color: #14191f;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  border-bottom: 1px solid #ebebeb;
}

header .navbar-logo {
  color: #ebebeb;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 3rem;
}

header .fa-rect {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

header .navbar-icon {
  display: none;
}

header ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 60vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

header a {
  position: relative;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ebebeb;
  background-color: #14191f;
  padding: 0.5rem 0.5rem;
}

header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 960px) {
  header {
    position: relative;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 1;
    -webkit-transition: all 0.5 ease-in;
    transition: all 0.5 ease-in;
  }
  header ul.active {
    left: 0;
    opacity: 1;
    display: table;
    width: 100%;
    padding: 0;
  }
  header ul.active a {
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    height: 50px;
    font-size: 1.6rem;
    background-color: #fb592d;
    color: #14191f;
    font-weight: 600;
  }
  header ul.active a:hover {
    color: #ebebeb;
    background-color: #14191f;
  }
  header ul.active a::before {
    visibility: hidden;
  }
  header ul.active a:hover::before {
    visibility: hidden;
  }
  header .navbar-logo {
    position: absolute;
    left: 0;
    color: #ebebeb;
    -webkit-transform: translate(25%, 50%);
            transform: translate(25%, 50%);
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  header .navbar-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-100%, 60%);
            transform: translate(-100%, 60%);
    font-size: 2rem;
    margin: 0.25rem 2rem 0.5rem 0.5rem;
    cursor: pointer;
    color: #ebebeb;
  }
  header .fa-times {
    color: #ebebeb;
    font-size: 2.5rem;
  }
}

/* Typewriter */
.typewriter {
  font-size: 40px;
  color: #14191f;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  letter-spacing: 0.05em;
  -webkit-animation: typing 1.75s steps(15, end), blink-caret 0.75s step-end 5;
          animation: typing 1.75s steps(15, end), blink-caret 0.75s step-end 5;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 0.15em solid orange;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-right: 0.15em solid orange;
  }
}
/*# sourceMappingURL=style.css.map */