$montserrat-font-path: "../fonts";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  src: url("#{$montserrat-font-path}/Montserrat-Regular.ttf") format("ttf");
  font-family: "Montserrat";
}

body {
  background: var(--placeholder-color);
  font-size: 16px;
  font-family: "Montserrat";
}

.NavbarItems {
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.navbar-logo {
  color: var(--primary-color);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  font-size: 3rem;
}

.fa-rect {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  align-items: center;
  margin-right: 1rem;
}

.navbar-link {
  font-weight: 600;
  background-color: #fff;
  padding: 0.5rem 1rem;
}

a.nav-links {
  position: relative;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--primary-color);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.fa-bars {
  color: var(--primary-color);
  font-size: 2rem;
}

.nav-links-mobile,
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;

    &.active {
      background: var(--secondary-color);
      left: 0;
      opacity: 1;
      transition: all 0.5 ease;
      z-index: 1;
      display: table;
      width: 100vw;
      padding: 0;

      a.nav-links {
        display: block;
        text-align: center;
        margin: 0 5px;

        &:hover {
          color: #fff;
          background-color: var(--primary-color);
        }
      }
    }
  }

  a.nav-links {
    &::before,
    &:hover::before {
      visibility: hidden;
    }
  }

  .navbar-logo {
    position: absolute;
    left: 0;
    color: var(--primary-color);
    transform: translate(25%, 50%);
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 2rem;
    margin: 0.25rem 2rem 0.5rem 0.5rem;
    cursor: pointer;
    color: var(--primary-color);
  }

  .fa-times {
    color: var(--primary-color);
    font-size: 2.5rem;
  }
}
